table {
  text-align: left;
}

thead {
  background-color: #5f3dc4;
  color: white;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  white-space: nowrap;
}

td,
th {
  padding: 0.5rem;
}

.full-width-table {
  width: 100%;
  tr:nth-child(even) {
    background-color: #f6f8fa;
  }
}

.nested-table {
  border: none;
  td,
  th {
    border: none;
  }
  td + td,
  th + th {
    border-left: 1px solid black;
  }
  thead {
    background-color: black;
    color: white;
  }
}

.success {
  background-color: #90ee90;
}

.info {
  background-color: #add8e6;
}

.warning {
  background-color: #fff36d;
}

.error {
  background-color: #ffa2ad;
}

.text-success {
  color: #228b22;
}

.text-info {
  color: #1520a6;
}

.text-warning {
  color: #70480f;
}

.text-error {
  color: #b60000;
}

.whitespace-wrap {
  white-space: wrap;
}
